In [1]:
numbers = [1, 13, 4, 5, 63, 100]
numbers

[1, 13, 4, 5, 63, 100]

In [2]:
new_numbers= []
for i in numbers:
    new_numbers.append(i*2)
print(new_numbers)

[2, 26, 8, 10, 126, 200]

In [3]:
new_numbers = [n *2 for n in numbers]
print(new_numbers)

[2, 26, 8, 10, 126, 200]

In [4]:
for i in range(2):
    for j in range(5):
        print(i+j , end=" ")

0 1 2 3 4 1 2 3 4 5

In [5]:
new_list_compre = [[i+j for i in range(2)] for j in range(5)]
new_list_compre

[[0, 1], [1, 2], [2, 3], [3, 4], [4, 5]]

In [6]:
 list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
[num ** 3 for num in range(1,11) if num %2 != 0]

[1, 27, 125, 343, 729]

In [10]:
[num ** 3 if num %2 !=0 else "even" for num in range(1,11) ]

[1, 'even', 27, 'even', 125, 'even', 343, 'even', 729, 'even']

In [11]:
print([num*10 for num in range(1,11) if(num %2 ==0)])

[20, 40, 60, 80, 100]