In [1]:
import pandas as pd

In [2]:
employees_work_exp = pd.Series({
'Amy White'   : 3,
'Jack Stewart'   : 5,
'Richard Lauderdale'  : 4.5,
'Sara Johnson'  : 22,
'Patrick Adams' : 28,
'Jessica Baker'  : 14,
'Peter Hunt'   : 4,
'Daniel Lloyd'  : 6,
'John Owen'   : 1.5,
'Jennifer Phillips'  : 10,
'Courtney Rogers'   : 4.5,
'Anne Robinson'  : 2,
})
employees_work_exp

Amy White              3.0
Jack Stewart           5.0
Richard Lauderdale     4.5
Sara Johnson          22.0
Patrick Adams         28.0
Jessica Baker         14.0
Peter Hunt             4.0
Daniel Lloyd           6.0
John Owen              1.5
Jennifer Phillips     10.0
Courtney Rogers        4.5
Anne Robinson          2.0
dtype: float64

In [3]:
employees_work_exp.head()  #return the first 5 key value pair of objects

Amy White              3.0
Jack Stewart           5.0
Richard Lauderdale     4.5
Sara Johnson          22.0
Patrick Adams         28.0
dtype: float64

In [4]:
employees_work_exp.tail()  #return the last 5 key value pair of objects

Daniel Lloyd          6.0
John Owen             1.5
Jennifer Phillips    10.0
Courtney Rogers       4.5
Anne Robinson         2.0
dtype: float64

In [5]:
employees_work_exp.min() #return the minimum value of the objects

1.5

In [6]:
employees_work_exp.max() # return the maximum value from the object .

28.0